html{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #f7f7f7;
    
}
.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #19bbad;
    border: 1px solid #ccc;

    
    
}


.form-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #161615;
}


.form-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-switch {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.form-switch a {
    color: #007bff;
    text-decoration: none;
}

    .form-switch a:hover {
        text-decoration: underline;
    }
